.my-row {
  margin-bottom: 10px;
}

li.jp-playlist-current {
  background-color: #D9EDF7;
}

div.jp-progress {
  height: 13px;
	overflow:hidden;
  margin: 5px 0px;
}

#playbackRateControl {
  margin: 0 5px;
}

div.jp-seek-bar {
	width:0px;
	height:100%;
	cursor: pointer;
  background-color: #D9EDF7;
}

div.jp-play-bar {
	width:0px;
	height:100%;
  background-color: #428BCA;
}

.jp-current-time {
  margin: 5px 0px;
}

.jp-playlist{
  margin: 5px 0px;
}

#droppable {
  height: 80px;
  line-height: 70px;
  border-radius: 3px;
}

#droppable-text {
  text-align: center;
  vertical-align: middle;
  color: #999;
}

#droppable.dragover {
  height: 80px;
  border-radius: 3px;
  color: #999;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);

}


